# Project Name: HabotConnect Project
# Task Name: Flake8 Linter Configuration
# Author: <YOUR FULL NAME>
# Contact: <YOUR EMAIL / PHONE>

[flake8]
max-line-length = 127
max-complexity = 15
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    django/student/migrations/
ignore = F401, F403
