# Project Name: HabotConnect Project
# Task Name: Git Repository Configuration
# Author: Akash Malviya
# Contact: akashmalviya244@gmail.com | 9753072646

# Python virtual environment
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local database
db.sqlite3

# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
terraform.tfvars

# Exclude any developer credentials/secrets
*.pem
*.key
credentials.json
